{%extends "::base.html.twig"%}
{% block class_menu_item3 %}menu-item-hover{% endblock class_menu_item3 %}
{% block page_content %}
    <span class="about-info">Symfony 2 application</span>
{% endblock %}